<h1>"Today"</h1>
<%  today = Date.new
        day = today.strftime("%A")
        month = today.strftime("%B")
        date = today.strftime("%d")
        year = today.strftime("%y") %>
<%= The date is #{day}, #{month} #{date}, #{year}" %>
